.bg {
	background-color: #1e1e2e;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: #1e1e2e;
	border-radius: 16px;
}


/** Clock ********************************************/
.time_hour, .time_min {
	color: #cba6f7;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	color: #a6e3a1;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px -20px;
}

/** Uptime ********************************************/
.icontimer {
	color: #B48EAD;
	font-size : 90px;
	font-weight : normal;
}

.uphour {
	color: #E5E9F0;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: #E5E9F0;
	font-size : 32px;
	font-weight : bold;
}
